.nav {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.link {
  background-color: #333;
  padding: 1em;
  color: #fff;
  text-decoration: none;
  border-bottom: 2px solid yellow;
  border-right: 2px solid yellow;

  display: flex;
  justify-content: center;
  align-items: center;
}
